from utils import slurp, unpack, assert_eq, digits, rev
import re


def part1(s):
    return 0


def part2(s):
    return 0


filedata = slurp("<day>.txt")
testdata1 = """
1abc2
pqr3stu8vwx
a1b2c3d4e5f
treb7uchet
"""

print("#--- Day x.1: <name>:", end=" ")

assert_eq(part1(testdata1), 142)
print(part1(filedata))

# print("#--- Day x.2: <name>:", end=" ")

# assert_eq(part2(testdata2), 281)
# print(part2(filedata))
